
.header {
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    align-items: center;
    color: var(--red-background-color);
    font-weight: 600;
    font-size: 1.2rem;
    justify-content: space-between;
}

.header > img {
    width: 210px;
    height: 70px;
    padding: 5px 0;
    /* margin-right: 30%; */
}

.header > img:hover {
    cursor: pointer;
}

.header > ul {
    list-style: none;
    margin: 0;
}

.header > ul > li {
    margin: 0 5px;
    padding: 25px 10px;
    display: inline;
}

.header > ul > li:hover {
    background-color: var(--red-background-color);
    color: white;
    cursor: pointer;
}

.subheader {
    background-color: var(--red-background-color);
    color: white;
    padding: 20px var(--margin-sides);
}

.subheader_Container {
    border: solid white 1px;
    padding: 0 40px;
    display: flex;
    align-items: center;
}

.subheader_flexContainer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.subheader_icon {
    transform: scale(1.2);
    margin-right: 10px;
}

.subheader_Container:hover {
    background-color: #8d6a49;
}
  
.header_dropdown a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header_dropdown {
    float: left;
    overflow: hidden;
    display: none;
}

.header_dropdown .dropButton {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    right: var(--margin-sides);
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.header_dropdown:hover .dropdown-content {
    display: block;
}

.menu-icon {
    color: var(--red-background-color);
    transform: scale(2);
}

@media only screen and (max-width: 1500px) {
    .header {
        margin: 0 var(--margin-sides);
    }
    
}

@media only screen and (max-width: 1000px) {
    .subheader__title {
        display: none;
    }
    .subheader_icon {
        padding: 10px;
        margin-left: 10px;
    }
}

@media only screen and (max-width: 650px) {
    .subheader_Container {
        border: none;
        padding: 0;
        flex: 0.25;
        justify-content: center;
    }
    .subheader_Container:nth-child(n+2) {
        border-left: 1px solid white;
    }
    .subheader_Container:hover {
        background-color: white;
        color: var(--red-background-color);
    }
    .subheader_flexContainer {
        display: flex;
    }
    .nav_bar {
        display: none;
    }
    .header_dropdown {
        display: flex;
    }
}